.board-piece{
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: top;
    border: 2px solid #aaa;
    margin: 1px;
    background: #eee;
}

.revealed-tile{
    background: #bbb;
}

.revealed-mine{
    background: url('/images/bomb.png') #828282;
    background-size: 100%;
}

.safe{
    background: #777;
}

.flag{
    background: url('/images/flag.png') no-repeat #eee;
    background-size: 80%;
    background-position-x: 2px;
    background-position-y: 1px;
}

.level-img{
    width: 25px;
}